.pageGrid {
  display: flex;
  width: 100%;
  .leftSection {
    width: 20%;
  }

  .middleSection {
    text-align: center;
    width: 60%;
    color: white;
    font-size: 20px
  }

  .rightSection {
    width: 20%;
  }
}
